In [ ]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Load the nobel dataset
nobel_df= pd.read_csv("nobel.csv")
print(f"Nobel_Datafarame: {nobel_df}")

Nobel_Datafarame:      year    category                                              prize  \
0    1901   Chemistry                  The Nobel Prize in Chemistry 1901
1    1901  Literature                 The Nobel Prize in Literature 1901
2    1901    Medicine     The Nobel Prize in Physiology or Medicine 1901
3    1901       Peace                         The Nobel Peace Prize 1901
4    1901       Peace                         The Nobel Peace Prize 1901
..    ...         ...                                                ...
995  2023   Chemistry                  The Nobel Prize in Chemistry 2023
996  2023   Chemistry                  The Nobel Prize in Chemistry 2023
997  2023  Literature                 The Nobel Prize in Literature 2023
998  2023       Peace                         The Nobel Peace Prize 2023
999  2023   Economics  The Sveriges Riksbank Prize in Economic Scienc...

                                            motivation prize_share  \
0    "in recognition of the extraordinary services ...         1/1
1    "in special recognition of his poetic composit...         1/1
2    "for his work on serum therapy, especially its...         1/1
3                                                  NaN         1/2
4                                                  NaN         1/2
..                                                 ...         ...
995  "for the discovery and synthesis of quantum dots"         1/3
996  "for the discovery and synthesis of quantum dots"         1/3
997  "for his innovative plays and prose which give...         1/1
998  "for her fight against the oppression of women...         1/1
999  "for having advanced our understanding of wome...         1/1

     laureate_id laureate_type                     full_name  birth_date  \
0            160    Individual  Jacobus Henricus van 't Hoff  1852-08-30
1            569    Individual               Sully Prudhomme  1839-03-16
2            293    Individual        Emil Adolf von Behring  1854-03-15
3            462    Individual             Jean Henry Dunant  1828-05-08
4            463    Individual                Frédéric Passy  1822-05-20
..           ...           ...                           ...         ...
995         1030    Individual                    Louis Brus  1943-00-00
996         1031    Individual               Aleksey Yekimov  1945-00-00
997         1032    Individual                     Jon Fosse  1959-09-29
998         1033    Individual              Narges Mohammadi  1972-04-21
999         1034    Individual                Claudia Goldin  1946-00-00

            birth_city             birth_country     sex  \
0            Rotterdam               Netherlands    Male
1                Paris                    France    Male
2    Hansdorf (Lawice)          Prussia (Poland)    Male
3               Geneva               Switzerland    Male
4                Paris                    France    Male
..                 ...                       ...     ...
995      Cleveland, OH  United States of America    Male
996                NaN         USSR (now Russia)    Male
997          Haugesund                    Norway    Male
998             Zanjan                      Iran  Female
999       New York, NY  United States of America  Female

                organization_name organization_city      organization_country  \
0               Berlin University            Berlin                   Germany
1                             NaN               NaN                       NaN
2              Marburg University           Marburg                   Germany
3                             NaN               NaN                       NaN
4                             NaN               NaN                       NaN
..                            ...               ...                       ...
995           Columbia University      New York, NY  United States of America
996  Nanocrystals Technology Inc.      New York, NY  United States of America
997                           NaN               NaN                       NaN
998                           NaN               NaN                       NaN
999            Harvard University     Cambridge, MA  United States of America

     death_date death_city death_country
0    1911-03-01     Berlin       Germany
1    1907-09-07   Châtenay        France
2    1917-03-31    Marburg       Germany
3    1910-10-30     Heiden   Switzerland
4    1912-06-12      Paris        France
..          ...        ...           ...
995         NaN        NaN           NaN
996         NaN        NaN           NaN
997         NaN        NaN           NaN
998         NaN        NaN           NaN
999         NaN        NaN           NaN

[1000 rows x 18 columns]

In [ ]:
#Find the gender and the country with the most number of prizes
top_gender= nobel_df['sex'].value_counts().index[0]
print(f"Top gender\n {top_gender}")

top_country= nobel_df['birth_country'].value_counts().index[0]
print(f"Top country\n {top_country}")

Top gender
 Male
Top country
 United States of America

In [ ]:
#Get the decade with the biggest portion of US-Born Prize winners
def get_decade(year):
    return (year // 10) * 10

nobel_df['Decade'] = nobel_df['year'].apply(get_decade)

nobel_df['Is_US_Born'] = (nobel_df['birth_country'] == 'United States of America').astype(int)
decade_summary = nobel_df.groupby('Decade').agg(
    Total_Winners=('full_name', 'count'),
    US_Born_Winners=('Is_US_Born', 'sum')
).reset_index()
decade_summary['US_Born_Ratio'] = decade_summary['US_Born_Winners'] / decade_summary['Total_Winners']
max_decade_usa = decade_summary.loc[decade_summary['US_Born_Ratio'].idxmax()]['Decade'].astype('int')
max_decade_usa

np.int64(2000)

In [ ]:
#Get the deacde with the biggest portion of female winners and the category
nobel_df['female_prop'] = (nobel_df['sex'] == 'Female')
female_summary = nobel_df.groupby('Decade').agg(
    Total_Winners=('full_name', 'count'),
    Female_Winners=('female_prop', 'sum')
).reset_index()
female_summary['female_ratio'] = female_summary['Female_Winners'] / female_summary['Total_Winners']
max_female = female_summary.loc[female_summary['female_ratio'].idxmax()]['Decade']
print(max_female)

nobel_df['female_prop'] = (nobel_df['sex'] == 'Female')
female_summary = nobel_df.groupby('category').agg(
    Total_Winners=('full_name', 'count'),
    Female_Winners=('female_prop', 'sum')
).reset_index()
female_summary['female_cat'] = female_summary['Female_Winners'] / female_summary['Total_Winners']
max_female1 = female_summary.loc[female_summary['female_cat'].idxmax()]['category']
print(max_female1)

2020.0
Literature

In [ ]:
#Put it in a dictionary
max_female_dict = {max_female.astype('int'):max_female1}
max_female_dict

{np.int64(2020): 'Literature'}

In [ ]:
#The first woman that won the prize and the category 
max_female1 = nobel_df.loc[nobel_df['sex'] == "Female"][['full_name','category', 'year', ]].iloc[0]
first_woman_name=max_female1[0]
first_woman_category=max_female1[1]
first_woman_name

/tmp/ipykernel_9699/249554765.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  first_woman_name=max_female1[0]
/tmp/ipykernel_9699/249554765.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  first_woman_category=max_female1[1]

'Marie Curie, née Sklodowska'

In [ ]:
#Names or organizations taht won the prize more than once
repeat_list = nobel_df['full_name'][nobel_df['full_name'].duplicated()].unique().tolist()
repeat_list

['Marie Curie, née Sklodowska',
 'Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Linus Carl Pauling',
 'John Bardeen',
 'Frederick Sanger',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)']